{% extends 'bootstrap/base.html' %}

{% block title %}
{% if title %}My Blog - {{ title }}{% else %}My Blog - Welcome{% endif %}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/slate/bootstrap.min.css') }}">
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>

    {{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
    {{ moment.lang(g.locale) }}

    <script>
        $(function () {
            var timer = null;
            var xhr = null;
            $('.user_popup').hover(
                function (event) {
                    var elem = $(event.currentTarget);
                    timer = setTimeout(function () {
                        timer = null
                        xhr = $.ajax('/user/' + elem.first().text().trim() + '/popup/')
                        .done(
                            function (data) {
                                xhr = null;
                                elem.popover({
                                    trigger: 'manual',
                                    html: true,
                                    animation: false,
                                    container: elem,
                                    content: data,
                                }).popover('show');
                                flask_moment_render_all();
                           }
                        );
                    }, 1000);
                },
                function(event) {
                    var elem = $(event.currentTarget);
                    if (timer) {
                        clearTimeout(timer);
                        timer = null;
                    }
                    else if (xhr) {
                        xhr.abort();
                        xhr = null;
                    }
                    else {
                        elem.popover('dispose');
                    }
                }
            )
        });
        function set_messages_count(n) {
            $('#messages_count').text(n);
            $('#messages_count').css('visibility', n ? 'visible' : 'hidden');
        }
        function set_task_progress(task_id, progress) {
            $('#' + task_id + '-progress').text(progress);
        }
        {% if current_user.is_authenticated %}
        $(function() {
            var since = 0;
            setInterval(function() {
                $.ajax('{{ url_for('main.notifications') }}?since=' + since).done(
                    function(notifications) {
                        for (var i = 0; i < notifications.length; i++) {
                            switch (notifications[i].name) {
                                case 'unread_message_count':
                                    set_messages_count(notifications[i].data);
                                    break;
                                case 'task_progress':
                                    set_task_progress(
                                        notifications[i].data.task_id,
                                        notifications[i].data.progress);
                                    break;
                        }
                        since = notifications[i].timestamp;
                    }                    }
                );
            }, 1000);
        });
        {% endif %}
    </script>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('main.reindex') }}">My Blog:</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                <a class="nav-link text-light" href="{{ url_for('main.index') }}">Main</a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-light" href="{{ url_for('main.explore') }}">Explore</a>
                </li>
                {% if g.admin_role %}
                <li class="nav-item">
                    <a class="nav-link text-light" href="/admin/">Admin</a>
                </li>
                {% endif %}
                 </ul>
           {% if g.search_form %}
            <form action="{{ url_for('main.search') }}" method="GET" class="navbar-form navbar-right mr-4">
                <div class="form-group m-0">
                    {{ g.search_form.q(size=20, class="form-control", placeholder=g.search_form.q.label.text) }}
                </div>
            </form>
            {% endif %}
            <ul class="navbar-nav navbar-right">
                 {% if current_user.is_anonymous %}
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ url_for('auth.login') }}">Login</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ url_for('main.messages') }}">
                        Messages 
                        {% set new_messages = current_user.new_messages() %}
                        <span id="messages_count" class="badge badge-pill badge-warning" style="visibility: {% if new_message %}visible{% else %}hidden{% endif %};">{{ new_messages }}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ url_for('main.user', username=current_user.username) }}">{{ current_user.username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ url_for('auth.logout') }}">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
<div class="container mt-4">
    {% if current_user.is_authenticated %}
        {% with tasks = current_user.get_tasks_in_progress() %}
            {% if tasks %}
                {% for task in tasks %}
                <div class="alert alert-success" role="alert">
                    {{ task.description }} <span id="{{ task.id }}-progress">{{ task.get_progress() }}</span>%
                </div>
                {% endfor %}
            {% endif %}
       {% endwith %}
    {% endif %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block app_content %}{% endblock %}
</div>
{% endblock %}